python==3.10.0
bpy==3.6.0
numpy==1.26.4
pandas==2.2.2
scipy==1.12.0
pillow==10.3.0
tqdm==4.66.2
gin-config==0.5.0
psutil==5.9.8
trimesh==4.3.1
vnoise==1.3.0
shapely==2.0.3
networkx==3.2.1
scikit-image==0.22.0
opencv-python==4.9.0.80
matplotlib==3.8.4
seaborn==0.13.2
imageio==2.34.0
pyyaml==6.0.1
torch==2.2.2
